export(as.data.frame.correlation)
export(as.data.frame.freq)
export(as.data.frame.summarize)
export(as.data.frame.summarize.by)
export(as.data.frame.survival)
export(as.data.frame.tabular)
export(demix)
export(display.test)
export(is.freq)
export(n)
export(na)
export(remix)
export(test.summarize.auto)
export(test.summarize.kruskal)
export(test.summarize.oneway.equalvar)
export(test.summarize.oneway.unequalvar)
export(test.survival.logrank)
export(test.tabular.auto)
export(test.tabular.fisher)
import(ascii)
importFrom(Hmisc,label)
S3method(ascii,correlation)
S3method(ascii,freq)
S3method(ascii,remix)
S3method(ascii,summarize)
S3method(ascii,summarize.by)
S3method(ascii,survival)
S3method(ascii,tabular)
S3method(print,correlation)
S3method(print,freq)
S3method(print,remix)
S3method(print,summarize)
S3method(print,summarize.by)
S3method(print,survival)
S3method(print,tabular)
